.contato {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6.9rem 0;
}

.contato__titulo {
  width: 80%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  padding-bottom: 3rem;
}

.contato__formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.formulario__titulo__info {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
}

.formulario__nome,
.formulario__email,
.formulario__txt {
  margin: 1rem 0;
  width: 80%;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  transition: border-color, box-shadow 0.2s;
}

.formulario__email,
.formulario__nome {
  height: 25px;
}

.formulario__txt {
  height: 200px;
  text-align: start;
  min-height: 13rem;
  resize: vertical;
}

.formulario__txt:focus,
.formulario__txt:hover,
.formulario__email:hover,
.formulario__email:focus,
.formulario__nome:hover,
.formulario__nome:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.651);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.795);
}

.formulario__botao {
  width: 86%;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.formulario__botao:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.contato__area-1,
.contato__area-2 {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contato__area-2 {
  background-color: #141414;
  padding: 2rem 0 3rem 0;
  border-radius: 20px;
}

.contato__titulo-2 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  padding: 2rem;
}

.contato__lista-itens {
  font-weight: 400;
  font-size: 1em;
  padding: 1rem;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.contato__lista-clicavel:hover {
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.contato__lista {
  width: 100%;
}

@media screen and (max-width: 786px) {
  .formulario__nome,
  .formulario__email,
  .formulario__txt {
    width: 80%;
  }

  .formulario__titulo__info {
    width: 60%;
  }

  .formulario__botao {
    width: 65%;
  }

  .contato__titulo {
    font-size: 2rem;
  }

  .contato {
    padding: 6rem 0;
    flex-direction: column;
    justify-content: center;
  }

  .contato__area-1,
  .contato__area-2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
  }

  .contato__area-2 {
    margin: 1.5rem 0;
  }

  .contato__formulario {
    align-items: center;
  }
}

@media screen and (max-width: 468px) {
  .formulario__nome,
  .formulario__email,
  .formulario__txt {
    width: 80%;
  }

  .formulario__titulo__info {
    width: 80%;
  }

  .formulario__botao {
    width: 87%;
  }

  .contato__titulo {
    font-size: 1.8rem;
  }
}
