.inicio__botoes {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.inicio__botao__area {
  position: relative;
  display: flex;
  padding: 20px 25px;
  margin: 40px 50px;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  letter-spacing: 2px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.inicio__botao__icone {
  width: 36px;
  height: 36px;
  margin-right: 5px;
}

.inicio__botao__area:hover {
  background: white;
  color: #050801;
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 200px white;
  -webkit-box-reflect: below 1px linear-gradient (transparent, #0005);
}

.inicio__botao__area:hover .inicio__botao__icone {
  filter: invert(75%);
}

.inicio__botao__area:nth-child(1) {
  filter: hue-rotate(270deg);
}

.inicio__botao__area:nth-child(2) {
  filter: hue-rotate(110deg);
}

.inicio__botao__area span {
  position: absolute;
  display: block;
}

.inicio__botao__area span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, white);
  animation: animacao-1 1s linear infinite;
}

@keyframes animacao-1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.inicio__botao__area span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, white);
  animation: animacao-2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animacao-2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.inicio__botao__area span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, white);
  animation: animacao-3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animacao-3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.inicio__botao__area span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, white);
  animation: animacao-4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animacao-4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@media screen and (max-width: 786px) {
  .inicio__botoes {
    width: 100%;
  }
}

@media screen and (max-width: 468px) {
  .inicio__botoes {
    flex-direction: column;
  }
}
