.all {
  background-color: var(--preto);
  color: var(--branco);
  font-family: "montserrat";
}

.logo {
  display: flex;
  width: 9rem;
  justify-content: center;
  align-items: center;
}

.logo__txt {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
}

.logo__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.cabecalho {
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.cabecalho__fixo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.cabecalho__fixo.ativo {
  background-color: rgb(0, 0, 0);
}

.cabecalho__menu {
  width: 85%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.cabecalho__menu-itens {
  font-size: 1.2rem;
  cursor: pointer;
}

.cabecalho__menu-itens:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  scale: 1.2;
}

.inicio {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.inicio__vd {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
}

.inicio__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}

.nome {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.funcao {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  border-right: 2px solid #000;
  overflow: hidden;
  padding-right: 5px;
  max-width: 0%;
  white-space: nowrap;
  animation: pisca normal 0.5s infinite 0.8s,
    digitar 2s normal 1s steps(23) both;
}

.cabecalho__area__img {
  display: none;
}

@keyframes digitar {
  100% {
    max-width: 100%;
  }
}

@keyframes pisca {
  100% {
    border-color: var(--branco);
  }
  0% {
    border-color: transparent;
  }
}

@media screen and (max-width: 786px) {
  .inicio {
    padding: 6rem 0;
  }

  .cabecalho__fixo {
    flex-direction: column;
  }

  .logo {
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
  }

  .funcao {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 468px) {
  .cabecalho__area__img {
    display: flex;
    width: 40x;
    height: 40px;
    justify-content: center;
    align-items: center;
  }

  .cabecalho__menu {
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 8rem;
    left: 0;
    top: -110px;
    align-items: center;
    background-color: black;
    padding: 1rem 0;
    opacity: 0;
    transition: 1s;
  }
  .cabecalho__menu-itens:hover {
    scale: 1;
    text-shadow: none;
  }

  .cabecalho__menu-itens {
    margin-bottom: 0.5rem;
  }

  .cabecalho__fixo {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    margin: 0;
    width: 8.5rem;
  }

  .mostrarMenu {
    top: 60px;
    opacity: 1;
  }

  .funcao {
    font-size: 1rem;
  }

  .nome {
    font-size: 3.5rem;
  }
}
