.sobre {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}

.sobre__area {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sobre__img {
  width: 40%;
  border-radius: 50px;
}

.sobre__area__txt {
  width: 40%;
}

.sobreMim__titulo {
  font-weight: 700;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.sobreMim__descricao {
  font-weight: 300;
  font-size: 1.2em;
  width: 100%;
}

@media screen and (max-width: 786px) {
  .sobre__img {
    display: none;
  }

  .sobre__area__txt {
    width: 90%;
  }
}
