.competencias {
  background-color: var(--preto);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 9rem 0;
}

.competencias__txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
  text-align: center;
  box-sizing: border-box;
}

.competencias__titulo {
  font-weight: 700;
  width: 100%;
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 2rem;
  box-sizing: border-box;
  word-break: break-all;
}

.competencias__descricao {
  font-size: 1.2em;
  font-weight: 300;
  box-sizing: border-box;
}

.competencias__imgs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.competencias__area__icones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.competencias__icones {
  width: 80px;
  height: 80px;
  border-radius: 30%;
}

.competencias__icones__descricao {
  font-weight: 300;
  padding-top: 1rem;
}

.competencias__area__carregando,
.competencias__area__completo {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.competencias__area__carregando::before,
.competencias__area__carregando:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.competencias__area__carregando:before {
  width: 100%;
  z-index: 2;
  height: 100%;
  background: linear-gradient(90deg, #ffffff 0%, #151515 50%);
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.competencias__area__carregando:after {
  width: 90%;
  height: 90%;
  background-color: #151515;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.competencias__icones {
  width: 100px;
  height: 100px;
  z-index: 4;
}

.carregando {
  position: static;
  display: inline-block;
  overflow: hidden;
  max-width: 80%;
  white-space: nowrap;
  animation: digitar-1 2s infinite steps(4) both;
}

.area__txt__descricao {
  width: 100%;
  display: flex;
  justify-content: center;
}

.area__txt__central {
  width: 70%;
}

@keyframes digitar-1 {
  100% {
    max-width: 110%;
  }
}

@media screen and (max-width: 468px) {
  .competencias__titulo {
    font-size: 2rem;
  }

  .competencias__txt {
    padding-bottom: 4rem;
  }
}
